<div class="alert alert-primary" role="alert" *ngIf="mensaje!=null">
    {{mensaje}}
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <td>ID</td>
            <td>Subtotal</td>
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="listaCompras.length==0">
            <td colspan="4">No hay elementos</td>
        </tr>
        <tr *ngFor="let compra of listaCompras; let i =index">
            <td>{{compra.id}}</td>
            <td>{{compra.subtotal}}</td>
            <td>{{compra.total}}</td>
            <td>
                <button class="btn btn-info m-2" (click)="editCompra(compra.id)">Editar</button>
                <button class="btn btn-info m-2" (click)="mostrarCompra(compra.id)">Ver</button>
                <button (click)="deleteCompra(compra.id)" class="btn btn-danger m-2">Eliminar</button>
            </td>
        </tr>
        <tr>
            <button class="btn btn-success m-2" (click)="crearCompra()">Agregar</button>
        </tr>
    </tbody>
</table>