<div class="alert alert-primary" role="alert" *ngIf="mensaje != null">
    {{mensaje}}
  </div>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>Apellidos</td>
        <td>Acciones</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="listaClientes.length === 0">
        <td colspan="4">No hay elementos</td>
      </tr>
      <tr *ngFor="let cliente of listaClientes; let i = index">
        <td>{{cliente.id}}</td>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellidos}}</td>
        <td>
          <button class="btn btn-primary m-2" (click)="editCliente(cliente.id)">Editar</button>
          <button class="btn btn-secondary m-2" (click)="mostrarCliente(cliente.id)">Ver</button>
          <button (click)="deleteCliente(cliente.id)" class="btn btn-danger m-2">Eliminar</button>
        </td>
      </tr>
      <tr>
        <button class="btn btn-success m-2" (click)="crearCliente()">Agregar</button>
      </tr>
    </tbody>
  </table>
  