<div class="alert alert-primary" role="alert" *ngIf="mensaje!=null">
    {{mensaje}}
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Descripción</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="listaCategorias.length==0">
            <td colspan="4">No hay elementos</td>
        </tr>
        <tr *ngFor="let solicitud of listaCategorias; let i =index">
            <td>{{solicitud.id}}</td>
            <td>{{solicitud.nombre}}</td>
            <td>{{solicitud.descripcion}}</td>
            <td>
                <button class="btn btn-info m-2" (click)="editSolicitud(solicitud.id)">Editar</button>
                <button class="btn btn-info m-2" (click)="mostrarSolicitud(solicitud.id)">Ver</button>
                <button (click)="deleteCategoria(solicitud.id)" class="btn btn-danger m-2">Eliminar</button>
            </td>
        </tr>

    </tbody>
</table>