<div *ngIf="cambioPasswordForm">
    <h2>Cambio de Contraseña</h2>
    <form [formGroup]="cambioPasswordForm" (ngSubmit)="onCambioPassword()">
        <div>
            <label for="currentPassword">Contraseña Actual:</label>
            <input type="password" id="currentPassword" formControlName="currentPassword" required>
        </div>
        <div>
            <label for="newPassword">Nueva Contraseña:</label>
            <input type="password" id="newPassword" formControlName="newPassword" required>
        </div>
        <div>
            <label for="confirmPassword">Confirmar Nueva Contraseña:</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
        </div>
        <button type="submit" [disabled]="cambioPasswordForm.invalid">Cambiar Contraseña</button>
    </form>
</div>
