<div *ngIf="cambioPasswordForm">
    <h2>Cambio de Contraseña</h2>
    <form [formGroup]="cambioPasswordForm" (ngSubmit)="onCambioPassword()">
        <div class="col-md-6">
            <label for="currentPassword">Contraseña Actual:</label>
            <input type="password" id="currentPassword" formControlName="currentPassword" class="form-control" placeholder="*****" required>
        </div>
        <div class="col-md-6">
            <label for="newPassword">Nueva Contraseña:</label>
            <input type="password" id="newPassword" formControlName="newPassword" class="form-control" placeholder="*****" required>
        </div>
        <div class="col-md-6">
            <label for="confirmPassword">Confirmar Nueva Contraseña:</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="*****" required>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
        </div>
        <div *ngIf="successMessage" class="alert alert-success">
            {{ successMessage }}
        </div>
        <div class="row">
            <div class="col-12 mt-4">
                <button type="submit" [disabled]="cambioPasswordForm.invalid" class="btn btn-primary btn-block mb-4">
                    Cambiar Contraseña
                </button>
            </div>
        </div>
    </form>
</div>
