<div class="container">
  <div *ngIf="!cargando">
      <h1> {{cliente.id < 0 ? 'Crear nuevo cliente' : 'Editar cliente ' + cliente.nombre}} </h1>
      <div class="alert alert-primary" role="alert" *ngIf="mensaje != null">
          {{mensaje}}
      </div>

      <form (ngSubmit)="submit()" #forma="ngForm">
          <div class="col-md-6">
              <label for="nombre" class="form-label">Nombre del Cliente</label>
              <input type="text" class="form-control" id="nombre" aria-describedby="Cliente"
                  [(ngModel)]="cliente.nombre" #nombre="ngModel" name="nombre" minlength="3" maxlength="20"
                  [ngClass]="{'is-valid': !nombre.invalid, 'is-invalid': nombre.invalid}" required>
              <div class="invalid-feedback" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                  <div *ngIf="nombre.errors?.['minlength']">
                      El número mínimo es de 3
                      {{nombre.errors | json}}
                  </div>
                  <div *ngIf="nombre.errors?.['required']">
                      Introduzca el nombre del cliente
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <label for="apellidos" class="form-label">Apellidos</label>
              <input type="text" class="form-control" id="apellidos" aria-describedby="Apellidos"
                  [(ngModel)]="cliente.apellidos" #apellidos="ngModel" name="apellidos" minlength="3"
                  maxlength="150" [ngClass]="{'is-valid': !apellidos.invalid, 'is-invalid': apellidos.invalid}"
                  required>
              <div class="invalid-feedback" *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)">
                  <div *ngIf="apellidos.errors?.['minlength']">
                      El número mínimo es de 3
                      {{apellidos.errors | json}}
                  </div>
                  <div *ngIf="apellidos.errors?.['required']">
                      Introduzca los apellidos del cliente
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-12 mt-4">
                  <button type="submit" [disabled]="!forma.valid" class="btn btn-primary">
                      {{cliente.id < 0 ? 'Agregar' : 'Actualizar'}}
                  </button>
              </div>
          </div>
      </form>
  </div>
</div>
